  @font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato-Bold';
    font-size: 16px;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato-Regular';
    font-size: 16px;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Lato-Light';
    font-size: 16px;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
  }

  *, html {
    margin:0;
    padding:0;  
}

  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato-Light', sans-serif;
    font-size: 16px;
    color: #000000;
    overscroll-behavior: none;
  }

  main {
    margin:0;
    padding: 0;
  }
  
/*HEADER*/

header {
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
}

header a {
    text-decoration: none; 
}

header img {
    width: 350px;
    height: auto;
}

nav {
    background-color: #212121;
    display: flex;
    justify-content: center;
    gap: 7%;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-family: 'Lato-Bold';
    color: #ffffff;
    box-shadow: inset 0 0 0 0 #54b3d6;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    color: #000000;
    box-shadow: inset 200px 0 0 0 #ffffff;
  }

@media (max-width: 700px) {
    header img {
        width: 220px;
    }
}

/*HOMEPAGE*/

/*SECTION1*/

.image-container {
    position: relative;
    max-width: 100%;
    margin-bottom: -4px;
}

.image-container img {
    width:100%;
}

.overlay-text {
    width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-family: 'Lato-Bold';
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 800px) {
    
    .image-container {
        margin-bottom: -6px;
    }
    
    .overlay-text {
        font-size: 1.2em;
    }
}

@media (max-width: 400px) {
        .overlay-text {
            font-size: 0.6em;
        }
}

/*SECTION2*/

.black-bar {
    height: 300px;
    background-color: #000; 
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    height: 90%; 
}

@media (max-width: 800px) {
    .black-bar {
        height:150px;
    }
}

@media (max-width: 600px) {
    .black-bar {
        height:110px;
    }
}

/*SECTION3*/

.section3 {
    display: flex;
    background-color: #F2E9E4;
    justify-content: center;
    align-items: center;
}

.section3text {
    width: 50%;
    padding:5%;
    box-sizing: border-box;
}

.section3text h2 {
    font-family: 'PlayfairDisplay-Regular' ;
    font-size: 3em;
    font-weight: 10;
    margin-bottom: 6%;
}

.section3text p {
    margin-bottom: 5%;
}

.section3text span {
    font-family: 'Lato-Regular';
}

.section3pic {
    display: flex; 
    justify-content: center;
    width: 50%;
    padding:2%;
    margin-right: 4%;
    box-sizing: border-box;
}

.section3pic img {
    width: 100%;
    border-radius: 20px;
}

@media (max-width: 900px) {
   .section3 {
    flex-direction: column;
    }

    .section3text {
        width: 95%;
    }

    .section3text h2 {
        text-align:  center;
        font-size: 1.8em;
    }

    .section3text p {
        margin-bottom: 2%;
    }

    .section3pic {
        width: 90%;
        margin-right: 0%;
        margin-bottom: 5%;
    }

    .section3pic img {
        border-radius: 20px;
    }
}

/*SECTION4*/

.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}

.section4image {
    width: 50%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section4image img {
    width: 95%;
    margin-right: 5%;
    border-radius: 20px;
}

.section4text {
    font-family: 'Lato-Light';
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    color: #ffffff;
    box-sizing: border-box;
}

.section4text span {
    font-family: 'Lato-Regular';
    font-weight: bold;
}

.section4text p {
    width: 90%;
    margin-bottom: 3%;
}

@media (max-width: 900px) {
    .section4 {
        flex-direction: column;
    }

    .section4image {
        width: 80%;
        margin-top: 4%;
    }

    .section4image img {
        width: 100%;
        border-radius: 20px;
        margin-right: 0%;
    }

    .section4text {
        width: 80%;
        font-size: 0.9em;
        margin-top: 4%;
        margin-bottom: 4%;
        margin-right: 0%;
    }

    .section4text p {
        width: 100%;
    }
}

/*SECTION5*/

.section5 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center; 
    align-items: center;
    background-color: #3D3D3D;
    z-index: 1;
}

.section5::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewY(-5deg); 
    z-index: -1; 
  }

.section5pics {
    max-width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 2%; 
    padding: 2%;
}

.section5pics img {
    border-radius: 20px;
    width: 22%;
}

.section5 p {
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 1.8em;
    color: #ffffff;
}

@media (max-width: 800px) {
    .section5pics {
        flex-wrap: wrap; 
    }

    .section5pics img {
        width: 48%; 
        margin-top: 3%;
    }

    .section5 p {
        font-size: 1.3em;
    }
}

.breakcontainer {
    position: relative;
    height: 400px; 
    overflow: hidden;
}

.breakimage {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    z-index: -1; 
}

@media (max-width: 1150px) {
    .breakimage {
        position: relative;
    }

    .breakcontainer {
        height: 200px;
    }
}

/*FOOTER*/

.socialsstrip {
    display: flex;
    align-items: center;
    background-color: #4A4E69; 
    padding: 5px; 
}

.sociallinks {
    display: flex;
    margin-left: 7%;
}

.sociallinks a {
    margin-right: 10px; 
    display: block; 
}

.sociallinks img {
    width: 35px;
    height: auto;
    display: block; 
    margin: 0; 
    padding: 0; 
}

.socialsstrip a[href="#top"] {
    color: #000000; 
    text-decoration: none; 
    font-family: 'Lato-Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 63.4%;
}

footer {
    display: flex;
    flex-direction: column;
    height: auto; 
    background-color: #988C98; 
}

.footer-content {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 8%;
}

footer img { 
    width: 40%;
    max-width: 370px;
    min-width: 200px;
    border-radius: 20px;
    height: auto; 
    margin-left: 7%;
    margin-right: 20%; 
}

.footer-item {
    width: 30%; 
}

.footer-item h3 {
    margin: 0; 
}

.footer-item p {
    margin: 0; 
}

.footer-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1%;
    gap: 5%;
}

.footer-links a {
    text-decoration: none; 
    color: black;
}

@media (max-width: 800px) {

    .socialsstrip {
        justify-content: center;
        margin: 0;
    }

    .sociallinks {
        margin: 0;
        margin-right: 0.8%;
        gap: 10%;
    }

    .sociallinks a { 
        margin: 0;
    }

    .socialsstrip a[href="#top"] {
        display: none;
    }
    

    footer {
        flex-direction: column; 
        text-align: center; 
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
    }

    footer img { 
        margin: 0%; 
        margin-bottom: 2%;
    }

    .footer-item {
        width: 100%; 
        margin-bottom: 10px; 
    }
}

/*ABOUT*/

.aboutmain {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #212121;
    padding: 5% 15%;
    z-index: 1;
}

.aboutmain p {
    font-family: 'Lato-Light';
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 2%;
}

.aboutmain::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: inherit;
  transform: skewY(-5deg); 
  transform-origin: top right; 
  z-index: -1; 
  }

.aboutinfo h2 {
    margin-top: 2%;
    color: #ffffff;
    text-decoration: underline;
    font-size: 1em;
  }

.aboutinfo p {
    margin-top: 0;
  }

.aboutinfo h2 {
    margin-top: 2%;
    color: #ffffff;
    text-decoration: underline;
    font-size: 1em;
  }

.aboutimage {
    display: flex;
    width:100%;
  }

.aboutimage img {
    width: 100%;
  } 

@media (max-width: 800px) {
.aboutmain {
    padding: 5% 10%;
}

.aboutmain p {
    font-size: 1em;
}
}

/*EXHIBITIONS*/

.exhibitonsheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E9E4;
    padding: 2%;
}

.exhibitonsheader h1 {
    font-family: 'Lato-Bold';
    font-size: 7em;
}

.exbackgroundgrey {
    background-color: #212121;
}

.exwhitetext {
    color: #ffffff;
    margin-right: 2%;
}

.exwhitetext2 {
    color: #ffffff;
    margin-left: 2%;
}

.exbackgroundgreypic {
    margin-right: 0%;
    margin-left: 4%;
}

.exbackgroundpurple {
    background-color: #4A4E69; 
}

@media (max-width: 900px) {
.exwhitetext {
    margin-left: 0%;
    margin-right: 0%;
}

.exwhitetext2 {
    margin-left: 0%;
    margin-right: 0%;
}

.exbackgroundgreypic {
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 0%;
}

.exhibitonsheader h1 {
    font-size: 1.8em;
}
}

/*privacyandterms*/

.privacyheader h1 {
    font-size: 3em;
}

.privacyheader {
    padding: 1%;
}

.privacytext::after {
    width: 0%;
    height: 0%; 
}

.privacytext p {
    font-family: 'Lato-Light';
}

@media (max-width: 900px) {
    .privacyheader h1 {
        font-size: 1.8em;
    }
}

/*CONTACT*/

.contactcontainer {
    display: flex;
    background-color: #212121; 
    width: 100%;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 50%;
    background-color: #212121; 
    padding: 20px; 
}

.google-map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 10%;
    width: 50%;
    background-color: #212121; 
    padding: 20px; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
}


button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

iframe {
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 20px;
}

@media screen and (max-width: 900px) {
    .contactcontainer {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }
    
    .contact-form, .google-map {
        width: 80%; 
        margin: 0;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%; 
        max-width: 100%; 
    }
}